
$primary-font-family: 'Poppins';


$display-1: 700 68px/69px $primary-font-family;
$display-2: 700 36px $primary-font-family;
$display-3: 700 18px/27px $primary-font-family;


$text-1: 400 16px/22px $primary-font-family;
$text-2: 400 18px/27px $primary-font-family;
