



.secao3 {
    padding: $padding-section;

    .wrapper {
        & > h1 { font: $display-2; }
        & > p {
            max-width: 950px;
            font: $text-2;
        }
    }

    .galeria {
        img {
            transition: .3s;
            &:hover { transform: scale(1.05); }
        }
    }



        
    @media (max-width: 1200px) {

        .galeria {
            flex-direction: column;

            .vertical {
                flex-direction: row !important;
                
                img {
                    width: calc(50% - 13px);
                }
            }
    
            & > img {
                width: 100%;
            }
        }
        
    }
    
}


