@import "../../components/form-cadastro/";


.secao-5 {
    padding: $padding-section;

    .wrapper > h1 {
        font: $display-2;
    }

    p {
        max-width: 1000px;
        margin: 0px auto;
        font: $text-2;
    }

    .conteudo {
        gap: 100px;
        .btn-adotar { padding: 15px 20px; }
    }


    @media (max-width: 1024px) {
        .conteudo {
            flex-direction: column-reverse;
        }
    }
    
}