@import "../../components/cards/voluntario/";


.secao4 {
    padding: $padding-section;

    .wrapper > h1 { 
        font: $display-2;
    }

    @media (max-width: 1024px) {
        .lista-voluntarios {
            overflow: hidden;
        }
    }

}