.btn-adotar {
  padding: 20px 50px;
  text-decoration: none;
  font-weight: 700;
  border-radius: 100px;
  background-color: #75A342;
  color: #fff !important;
  box-shadow: 0px 7px 10px #cfecaf;
  transition: 0.3s;
  outline: none;
  border: none;
}

.btn-adotar:hover {
  background-color: #7cb53b;
  text-decoration: none !important;
}

.btn-adotar:active {
  background-color: #679237;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.cabecalho nav {
  display: flex;
  align-items: center;
  gap: 70px;
}
.cabecalho nav a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  transition: 0.2s;
}
.cabecalho nav a:hover {
  color: #75A342;
  text-decoration: underline;
}
.cabecalho #menu {
  display: none;
}
@media (max-width: 1024px) {
  .cabecalho nav {
    display: none;
  }
  .cabecalho #menu {
    display: inline-block;
  }
}

.secao1 {
  padding: 30px 20px;
}
.secao1 .textos {
  max-width: 440px;
  color: #36392E;
}
.secao1 .textos h1 {
  font: 700 68px/69px "Poppins";
  margin: 0px;
}
.secao1 .textos h1 span {
  color: #145FA4;
}
.secao1 .textos p {
  font: 700 18px/27px "Poppins";
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .secao1 .conteudo {
    flex-direction: column-reverse;
  }
  .secao1 .conteudo img {
    width: 100%;
    max-width: 450px;
  }
  .secao1 .textos h1, .secao1 .textos p {
    text-align: center;
  }
  .secao1 .textos h1 {
    font-size: 44px;
    line-height: 47px;
  }
  .secao1 .textos h1 span {
    color: #000;
  }
  .secao1 .textos h1 br {
    display: none;
  }
  .secao1 .textos .btn-adotar {
    width: 100%;
    text-align: center;
  }
}

.card-como-funciona {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 285px;
  transition: 0.3s;
}
.card-como-funciona:hover {
  transform: scale(1.1);
}
.card-como-funciona img {
  height: 150px;
  margin-bottom: 25px;
}
.card-como-funciona h1 {
  text-align: center;
  font: 700 18px/27px "Poppins";
  margin-bottom: 10px;
}
.card-como-funciona p {
  text-align: center;
  font: 400 16px/22px "Poppins";
  margin: 0px;
}

.secao2 {
  padding: 80px 20px;
}
.secao2 .wrapper > h1 {
  font: 700 36px "Poppins";
}

.secao3 {
  padding: 80px 20px;
}
.secao3 .wrapper > h1 {
  font: 700 36px "Poppins";
}
.secao3 .wrapper > p {
  max-width: 950px;
  font: 400 18px/27px "Poppins";
}
.secao3 .galeria img {
  transition: 0.3s;
}
.secao3 .galeria img:hover {
  transform: scale(1.05);
}
@media (max-width: 1200px) {
  .secao3 .galeria {
    flex-direction: column;
  }
  .secao3 .galeria .vertical {
    flex-direction: row !important;
  }
  .secao3 .galeria .vertical img {
    width: calc(50% - 13px);
  }
  .secao3 .galeria > img {
    width: 100%;
  }
}

.card-voluntario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.card-voluntario h1 {
  font: 700 18px "Poppins";
  margin: 0px;
}
.card-voluntario p {
  font: 400 18px "Poppins";
  margin: 0px;
}

.secao4 {
  padding: 80px 20px;
}
.secao4 .wrapper > h1 {
  font: 700 36px "Poppins";
}
@media (max-width: 1024px) {
  .secao4 .lista-voluntarios {
    overflow: hidden;
  }
}

.cadastro-adotante {
  background-color: #fff;
  padding: 30px 25px;
  max-width: 500px;
  width: 100%;
  position: relative;
  border-radius: 25px;
  box-shadow: 0px 4px 14px 3px rgba(205, 189, 189, 0.25), 0px 4px 4px 0px rgba(198, 183, 183, 0.25);
}
.cadastro-adotante .passos {
  position: absolute;
  right: 28px;
  top: 54px;
  font-size: 16px;
  color: #899185;
}
.cadastro-adotante h1 {
  font-weight: 700;
  font-size: 24px;
}
.cadastro-adotante .green {
  color: #75A342;
}
.cadastro-adotante .form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.cadastro-adotante .form-item {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.cadastro-adotante .form-item label {
  font-size: 14px;
}
.cadastro-adotante .form-item select {
  font-size: 16px;
  padding: 15px;
  border: 1px solid #9C8F8F;
  border-radius: 4px;
}

.secao-5 {
  padding: 80px 20px;
}
.secao-5 .wrapper > h1 {
  font: 700 36px "Poppins";
}
.secao-5 p {
  max-width: 1000px;
  margin: 0px auto;
  font: 400 18px/27px "Poppins";
}
.secao-5 .conteudo {
  gap: 100px;
}
.secao-5 .conteudo .btn-adotar {
  padding: 15px 20px;
}
@media (max-width: 1024px) {
  .secao-5 .conteudo {
    flex-direction: column-reverse;
  }
}

body {
  font-family: "Poppins";
  font-size: 18px;
  background-color: #FFFBF1;
  background: var(--brand-background, linear-gradient(181deg, #FFF 0%, rgba(255, 255, 255, 0) 100%), #FFFBF1);
  border-radius: 20px;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0px auto;
}

footer {
  background-color: #75A342;
  height: 5vh;
}/*# sourceMappingURL=index.css.map */